.spinner-loader {
  padding: 1px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: black;
  --_m: conic-gradient(#0000 50%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1.5s infinite linear;
}

.spinner-loader-white {
  padding: 2px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  --_mw: conic-gradient(#fff0 50%, #fff), linear-gradient(#fff 0 0) content-box;
  -webkit-mask: var(--_mw);
  mask: var(--_mw);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1.5s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
