.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* background: #fff; */

  /* Center slide text vertically */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 640px) {
  .works-slider .swiper-slide {
    max-width: 560px;
  }
}
@media (max-width: 640px) {
  .works-slider .swiper-slide {
    max-width: calc(100vw - 10%);
  }
}

.comments-slider .swiper-slide {
  max-width: 78px;
}
