.active-indicator {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: white;
  /* Adjust these values for different curve shapes and sizes */
  border-radius: 50% 0 0 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: -1;
}
